<div class="listado" id="local">
    <div class="image">
        <img src="/resources/folder.png" />
    </div>
    <h3>Archivos en local</h3>
    <table>
    <% for(var i=0;i<directorio.length;i++){
        var d=new Date(directorio[i].fecha);
        var dia=d.getDate();
        if(dia<10) dia="0"+dia;
        var mes=d.getMonth()+1;
        if(mes<10) mes="0"+mes;
        var anyo=d.getFullYear();
        var hora=d.getHours();
        if(hora<10) hora="0"+hora;
        var min=d.getMinutes();
        if(min<10) min="0"+min;
        var fecha= dia+"/"+mes+"/"+anyo+" "+hora+":"+min;
    %>
        <tr><td>- <%= directorio[i].nombre %></td><td><%= fecha %></td></tr>
    <% } %>
    </table>
</div>
<div class="listado" id="drive">
    <div class="image">
        <img src="/resources/drive.png" />
    </div>
    <h3>Archivos en el Drive</h3>
    <table>
    <% for(var i=0;i<drive.length;i++){
        var d=new Date(drive[i].modifiedDate);
        var dia=d.getDate();
        if(dia<10) dia="0"+dia;
        var mes=d.getMonth()+1;
        if(mes<10) mes="0"+mes;
        var anyo=d.getFullYear();
        var hora=d.getHours();
        if(hora<10) hora="0"+hora;
        var min=d.getMinutes();
        if(min<10) min="0"+min;
        var fecha= dia+"/"+mes+"/"+anyo+" "+hora+":"+min;
    %>
        <tr><td title="<%= drive[i].id %>">- <%= drive[i].title %></td><td><%= fecha %></td></tr>
    <% } %>
    </table>
    <a id="sincDrive" class="button" href="/sincronizarDrive" >Sincronizar</a>
</div>
<div class="listado" id="dbox">
    <div class="image">
        <img src="/resources/dropbox.png" />
    </div>
    <h3>Archivos en el Dropbox</h3>
    <table>
    <% for(var i=0;i<dbox.length;i++){
        var d=new Date(dbox[i].modified);
        var dia=d.getDate();
        if(dia<10) dia="0"+dia;
        var mes=d.getMonth()+1;
        if(mes<10) mes="0"+mes;
        var anyo=d.getFullYear();
        var hora=d.getHours();
        if(hora<10) hora="0"+hora;
        var min=d.getMinutes();
        if(min<10) min="0"+min;
        var fecha= dia+"/"+mes+"/"+anyo+" "+hora+":"+min;
        var pos=dbox[i].path.lastIndexOf("/");
        if(pos>=0){
            pos+=1;
        }
    %>
        <tr><td title="<%= dbox[i].rev %>">- <%= dbox[i].path.substring(pos) %></td><td><%= fecha %></td></tr>
    <% } %>
    </table>
    <a id="sincDbox" class="button" href="/sincronizarDbox" >Sincronizar</a>
</div>
